@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  color: white;
  
}

html{
  height: 100%;
}
body {
    background: rgb(2,0,25,1);
    background: linear-gradient(225deg, rgba(2,0,25,1) 0%, rgba(0,0,70,1) 90%, rgb(0, 62, 75) 100%); 
    background-attachment: fixed;
}
.navbar-mid{
  @apply w-28 flex justify-center items-center
}
.navbar-mid:hover{
  @apply shadow-lg shadow-rose-500 border-b-2 bg-rose-700/75 ease-in duration-300
}

.navbar-right:hover{
  @apply shadow-lg shadow-sky-500 border-b-2 ease-in duration-300
}

.footer-link{
  @apply hover:text-gray-300 ease-in-out duration-100
}
.customShadow{
  filter: drop-shadow(-15px -15px 15px rgba(0, 0, 0, 0.35)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.35));
}
.customFont{
  font-family: "Caveat";
}